<nav class="bg-custom-gradient navbar shadow-lg">
    <div class="d-flex w-100 align-items-center" style="height: 100%">
        <div class="w-100 mx-4 d-flex align-items-center" style="height: 100%">
            <div class="row w-100" style="height: 80%">
                <div class="col-lg-1" style=" height: 70px">
                    <div class="container-img w-100" style="height: 100%">
                        <img class="img-fluid"
                             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_J64H9TeNc_w3Oo8fZ9vWpn8jLVG9bO9toQ&s"/>
                    </div>
                </div>
                <div class="col-lg-11 d-flex align-items-center" style="">
                    <div class="d-flex justify-content-between w-100" style="">
                        <button @click="categoryMenu = !categoryMenu" class="btn">
                            <i class="bi bi-list text-white me-2"></i>
                            <span class="text-white">Categorias</span>
                        </button>
                        <div class="" style="width: 70%; height: 33px;">
                            <input type="text" class="form-control w-100" style="height: 100%;" placeholder="Buscar" aria-label="Buscar"
                                   aria-describedby="basic-addon1">
                        </div>
                        <button class="btn text-white">
                            nombre user
                        </button>
                        <button @click="categoryCarrito = !categoryCarrito" class="btn text-white">Carrito</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<!--lateral izquierdo-->
<div v-if="categoryMenu" class="w-100 position-fixed top-0 start-0 bg-opacity" style="height: 100vh;">
    <div class="w-25 bg-white" style="z-index: 1000; height: 100%;">
        <div style="margin-top: 90px"></div>
        lateral izquierdo
    </div>
</div>

<!--lateral derecho-->
<div v-if="categoryCarrito" class="w-100 position-fixed top-0 d-flex justify-content-end bg-opacity" style="height: 100vh;">
        <div class="bg-white" style="z-index: 1000; height: 100%; width: 35%;">
        <div style="margin-top: 90px"></div>
        lateral derecho
    </div>
</div>