<div class="w-100 py-3">
    <div class="section">
        <h1>Mi cesta</h1>
        <p class="m-0 mb-2 fs-6">2 artículos</p>
        <div class="row">
            <div class="col-lg-9">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3 container-img" style="height: 150px">
                                <img class="img-fluid"
                                     src="https://img.pccomponentes.com/articles/23/232005/razer-kraken-x-lite-2019-render-v02.jpg"/>
                            </div>
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-lg-12 col-12">
                                        <p class="m-0 fs-4 fw-normal">Razer Kraken X</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-12">
                                        <p class="m-0 fs-3 fw-bold">199.99€</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-12">
                                        <p class="m-0 fs-7 fw-normal">Lo recibiras lo <span
                                                class="text-primary fw-bold">antes</span> posible</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 d-flex">
                                <div class="me-2">
                                    <button class="btn border-full"><i class="bi bi-trash3"></i></button>
                                </div>
                                <div class="d-flex align-items-center w-100" style="max-height: 40px;">
                                    <button class="btn border-full" style="height: 100%;">+</button>
                                    <input class="custom-input" type="text" value="1"/>
                                    <button class="btn border-full" style="height: 100%;">-</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3 container-img" style="height: 150px">
                                <img class="img-fluid"
                                     src="https://img.pccomponentes.com/articles/23/232005/razer-kraken-x-lite-2019-render-v02.jpg"/>
                            </div>
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-lg-12 col-12">
                                        <p class="m-0 fs-4 fw-normal">Razer Kraken X</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-12">
                                        <p class="m-0 fs-3 fw-bold">199.99€</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-12">
                                        <p class="m-0 fs-7 fw-normal">Lo recibiras lo <span
                                                class="text-primary fw-bold">antes</span> posible</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 d-flex">
                                <div class="me-2">
                                    <button class="btn border-full"><i class="bi bi-trash3"></i></button>
                                </div>
                                <div class="d-flex align-items-center w-100" style="max-height: 40px;">
                                    <button class="btn border-full" style="height: 100%;">+</button>
                                    <input class="custom-input" type="text" value="1"/>
                                    <button class="btn border-full" style="height: 100%;">-</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <p class="m-0 mb-3 fs-4">Resumen</p>
                        <div class="d-flex border-bottom pb-4 mb-3 fs-6 justify-content-between">
                            <p class="m-0">Subtotal artículos</p>
                            <p class="m-0 fw-bold">654.65€</p>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <p class="m-0 fs-6">Total (Impuestos incluidos)</p>
                            <p class="m-0 fw-bold fs-4">654.65€</p>
                        </div>

                        <div class="w-100">
                            <button class="btn btn-primary btn-lg w-100">Realizar pedido</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>