<div v-if="steps == 'summaryTotal'" class="w-100 py-3">
    <div class="section">
        <h1>Mi cesta</h1>
        <p class="m-0 mb-2 fs-6">2 artículos</p>
        <div class="row">
            <div class="col-lg-9">
                <div v-for="(product, index) in productsCart" :key="index" class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3 container-img" style="height: 150px">
                                <img class="img-fluid"
                                     :src="product.image_path"/>
                            </div>
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-lg-12 col-12">
                                        <p class="m-0 fs-4 fw-normal">{{product.name}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-12">
                                        <p class="m-0 fs-3 fw-bold">{{product.price}}€</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-12">
                                        <p class="m-0 fs-7 fw-normal">Lo recibiras lo <span
                                                class="text-primary fw-bold">antes</span> posible</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 d-flex">
                                <div class="me-2">
                                    <button class="btn border-full"><i class="bi bi-trash3"></i></button>
                                </div>
                                <div class="d-flex align-items-center w-100" style="max-height: 40px;">
                                    <button class="btn border-full" style="height: 100%;"
                                            @click="product.num_product++">+
                                    </button>
                                    <input class="custom-input" type="text" :value="product.num_product"/>
                                    <button class="btn border-full" style="height: 100%;"
                                            @click="product.num_product--">-
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <p class="m-0 mb-3 fs-4">Resumen</p>
                        <div class="d-flex border-bottom pb-4 mb-3 fs-6 justify-content-between">
                            <p class="m-0">Subtotal artículos</p>
                            <p class="m-0 fw-bold">{{priceTotal}}€</p>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <p class="m-0 fs-6">Total (Impuestos incluidos)</p>
                            <p class="m-0 fw-bold fs-4">{{priceTotalWithIVA}}€</p>
                        </div>

                        <div class="w-100">
                            <button class="btn btn-primary btn-lg w-100" @click="buyProducts">Realizar pedido</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div v-if="steps === 'selectShippingAddress'"></div>

<div v-if="steps == 'selectCreditCard'" class="w-100 py-3">
    <div class="section">
        <h1>Selecciona la tarjeta de credito</h1>
        <div v-if="paymentMethods.data.length <= 0">
            <p class="m-0 fs-7">No tienes tarjetas de credito vinculadas</p>
        </div>
        <div v-if="paymentMethods.data.length > 0">
            Tienes tarjetas de credito vinculadas

            <div
                    v-for="(creditCard, index) in paymentMethods.data"
                    :key="index"
                    @click="selectPaymentMethod(creditCard.id)"
                    class="card mb-2"
                    :class="{ 'bg-primary-opacity text-white': creditCard.id === (defaultPaymentMethods.data?.id || '') }"
                    style="cursor: pointer;"
            >
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-credit-card me-3 fs-4"></i>
                            <div>
                                <p class="m-0 fs-6 fw-bold">{{ creditCard.billing_details.name }}</p>
                                <p class="m-0 fs-7">{{ creditCard.card.exp_month }}/{{ creditCard.card.exp_year }}</p>
                                <p class="m-0 fs-8">**** {{ creditCard.card.last4 }}</p>
                            </div>
                        </div>
                        <button
                                class="btn btn-sm p-0"
                                @click.stop="deletePaymentMethod(creditCard)"
                                aria-label="Delete"
                        >
                            <i class="bi bi-trash3" :class="creditCard.id === (defaultPaymentMethods.data?.id || '') ? 'text-white' : 'text-primary'"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <button @click="finishBuying" class="btn btn-primary me-2">Seguir con la compra</button>
        <button @click="showAddCreditCardComponent = !showAddCreditCardComponent" class="btn btn-secondary">Añadir tarjeta de credito</button>
        <add-payment-method-component v-if="showAddCreditCardComponent"
                                      @payment-methods="paymentMethods.data = $event"
                                      @default-payment-method="defaultPaymentMethods.data = $event"></add-payment-method-component>
    </div>

</div>

<div v-if="steps == 'finishBuy'" class="w-100 py-3">
    <div>
        Terminaste la compra
    </div>
</div>