<div class="w-100 py-3">
    <div class="section">
        <div class="row">
            <div class="col-lg-3">
                <div class="w-100">
                    <button class="m-0 fs-6 btn w-100 text-start fw-bold">
                        <div><i class="bi bi-person-fill me-2"></i>Mi cuenta</div>
                    </button>
                    <div class="">
                        <button @click="tab = 'myData'" class="m-0 fs-6 btn w-100 text-start">Mis datos</button>
                        <button @click="tab = 'myAddresses'" class="m-0 fs-6 btn w-100 text-start">Mis direcciones
                        </button>
                        <button @click="tab = 'messages'" class="m-0 fs-6 btn w-100 text-start">Mensajes</button>
                        <button @click="tab = 'opinions'" class="m-0 fs-6 btn w-100 text-start">Opiniones</button>
                    </div>

                    <button class="m-0 fs-6 btn w-100 text-start fw-bold">
                        <div><i class="bi bi-box-seam-fill me-2"></i>Pedidos y devoluciones</div>
                    </button>
                    <div class="">
                        <button @click="tab = 'myOrders'" class="m-0 fs-6 btn w-100 text-start">Mis Pedidos</button>
                        <button @click="tab = 'myReturns'" class="m-0 fs-6 btn w-100 text-start">Mis Devoluciones
                        </button>
                        <button @click="tab = 'myInvoices'" class="m-0 fs-6 btn w-100 text-start">Mis Facturas</button>
                    </div>

                    <button @click="tab = 'cards'" class="m-0 fs-6 btn w-100 text-start fw-bold">
                        <div><i class="bi bi-credit-card-2-back-fill me-2"></i>Pago</div>
                    </button>
                    <div class="">
                        <button @click="tab = 'cards'" class="m-0 fs-6 btn w-100 text-start">Tarjetas vinculadas
                        </button>
                    </div>

                    <button @click="logout" class="m-0 fs-6 btn btn-outline-error w-100 text-start">
                        <div><i class="bi bi-box-arrow-left me-2"></i>Log out</div>
                    </button>
                </div>

            </div>
            <div class="col-lg-9">
                <!--                taps-->
                <!--TAB: mis datos:init-->
                <div class="" v-if="tab === 'myData'">
                    <h2 class="">Mis Datos</h2>
                </div>
                <!--TAB: mis datos:finish-->

                <!--TAB: mis pedidos:init-->
                <div class="" v-if="tab === 'myOrders'">
                    <h2 class="mb-4">Mis Pedidos</h2>

                    <div class="d-flex mb-5">
                        <div class="me-2">
                            <select class="form-select" style="height: 55px">
                                <option selected>Selecciona una opció</option>
                                <option value="2024">2024</option>
                                <option value="2023">2023</option>
                                <option value="2022">2022</option>
                            </select>
                        </div>
                        <div class="me-2">
                            <select class="form-select" style="height: 55px">
                                <option selected>Selecciona un mes</option>
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                        <div class="me-2">
                            <div class="row">
                                <div class="col-lg-12 col-12">
                                    <div class="form-floating ">
                                        <input class="form-control w-lg-96" id="buscar" placeholder="Buscar" style=""
                                               type="text">
                                        <label for="buscar">City</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div :key="index" class="card mb-2" v-for="(order, index) in orders.data">
                        <div class="card-body">
                            <div class="border-bottom row pb-3">
                                <div class="col-lg-12 col-12 d-flex justify-content-between">
                                    <div class="d-flex ">
                                        <div class="me-4">
                                            <p class="m-0 fw-bold fs-7">Pedido</p>
                                            <p class="m-0 fs-7">{{formatDate(order.created_at)}}</p>
                                        </div>
                                        <div class="me-4">
                                            <p class="m-0 fw-bold fs-7">Vendido por</p>
                                            <p class="m-0 fs-7">NetCore</p>
                                        </div>
                                        <div class="me-4">
                                            <p class="m-0 fw-bold fs-7">Nº pedido</p>
                                            <p class="m-0 fs-7">{{order.id}}</p>
                                        </div>
                                    </div>
                                    <div>
                                        <button @click="seeDetails(order)" class="btn border-1" v-if="!order.details">
                                            Ver detalles y seguimiento<i
                                                class="bi bi-caret-down-fill ms-2"></i></button>
                                        <button @click="hideDetails(order)" class="btn border-1" v-if="order.details">
                                            Ocultar detalles y seguimiento<i
                                                class="bi bi-caret-up-fill ms-2"></i></button>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-12" v-if="order.details">
<!--                                    <button class="btn border-1 me-2">Factura</button>-->
                                    <button @click="lookDetailOrder(order)" class="btn border-1">Detalles del pedido</button>
                                </div>
                            </div>

                            <div class="border-bottom d-flex align-items-center mb-3 py-2 py-lg-2" v-if="order.details">
                                <div class="me-4">
                                    <p class="m-0 fs-6 fw-bold text-primary">{{statusFormater(order.status)}}</p>
                                    <p class="m-0 fs-7">{{formatDateExtends(order.updated_at)}}</p>
                                </div>
                                <div>
                                    <button class="btn border-1">Seguimiento del pedido</button>
                                </div>
                            </div>

                            <div class="row py-2">
                                <div class="col-lg-12 col-12 d-flex justify-content-between">
                                    <div>
                                        <div class="d-flex mt-4" v-for="(product, index) in order.products" :key="index">
                                            <div class="me-4 container-img" style="height: 100px">
                                                <img class="img-fluid"
                                                     :src="product.producto.image_path"/>
                                            </div>
                                            <div class="me-4">
                                                <p class="m-0 fs-6">{{product.producto.name}}</p>
                                                <p class="m-0 fw-bold fs-6">{{(product.producto.price)*(product.num_product)}}€</p>
                                                <p class="m-0 fs-6">x{{product.num_product}} Unidad/es</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column" v-if="order.details">
                                        <button class="btn border-1 mb-2">Valorar producto</button>
                                        <!--                                        <button class="btn border-1 mb-2">Devolver</button>-->
                                        <!--                                        <button class="btn border-1 mb-2">Tramitar garantia</button>-->
                                        <button class="btn border-1 btn-primary mb-2">Comprar de nuevo</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--TAB: mis pedidos:finish-->

                <!--TAB: mis Direcciones:init-->
                <div class="" v-if="tab === 'myAddresses'">
                    <h2 class="mb-4">Mis Direcciones</h2>

                    <div class="mb-3">
                        <p class="fs-5 fw-bold m-0 mb-2">Direcciones de envío</p>

                        <div :key="index"
                             @click="updateDefaultShippingAddress(shippingAddress)" class="card mb-2"
                             style="cursor: pointer;"
                             v-for="(shippingAddress, index) in shippingAddresses.data"
                             v-if="shippingAddresses.data.length > 0">
                            <div class="card-body py-2 px-3">
                                <div class="mb-2"
                                     v-if="shippingAddress.default"
                                >
                                    <span class="badge badge-primary">Predeterminado</span>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <p class="m-0 mb-1 fs-6 ">{{shippingAddress.street}}
                                            <span class="fs-7 "> {{shippingAddress.number}}</span>
                                            <span class="fs-7 ">, {{shippingAddress.zip_code}}, </span>
                                            <span class="fs-7 "> {{shippingAddress.population}}, </span>
                                            <span class="fs-7 "> {{shippingAddress.city}}</span>
                                        </p>
                                        <p class="m-0 fs-7">{{shippingAddress.floor}}-{{shippingAddress.door}}</p>
                                    </div>
                                    <div class="text-lg-end col-lg-6 col-12">
                                        <button @click="deleteShippingAddress(shippingAddress, index)"
                                                class="btn btn-sm me-2 border-1">Eliminar
                                        </button>
                                        <button @click="showOpenEditShippingAddress(shippingAddress, index)"
                                                class="btn btn-sm  border-1">Editar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button @click="showOpenAddShippingAddress"
                                class="btn border-1 mb-2 mt-4"><i class="bi bi-plus me-1"></i>Añade una dirección
                        </button>
                        <!--                        <div v-if="shippingAddresses.data.length <= 0">-->
                        <!--                            <p class="m-0 fs-6">No tienes direcciones registradas.</p>-->
                        <!--                        </div>-->
                    </div>

                    <div class="mb-3">
                        <p class="fs-5 fw-bold m-0 mb-2">Direcciones de facturación</p>

                        <div :key="index"
                             @click="updateDefaultBillingAddress(billingAddress)" class="card mb-2"
                             style="cursor: pointer;"
                             v-for="(billingAddress, index) in billingAddressess.data"
                             v-if="billingAddressess.data.length > 0">
                            <div class="card-body py-2 px-3">
                                <div class="mb-2"
                                     v-if="billingAddress.default"
                                >
                                    <span class="badge badge-primary">Predeterminado</span>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <p class="m-0 mb-1 fs-6 ">{{billingAddress.street}}
                                            <span class="fs-7 "> {{billingAddress.number}}</span>
                                            <span class="fs-7 ">, {{billingAddress.zip_code}}, </span>
                                            <span class="fs-7 "> {{billingAddress.population}}, </span>
                                            <span class="fs-7 "> {{billingAddress.city}}</span>
                                        </p>
                                        <!--                                        <p class="m-0 fs-7">{{billingAddress.floor}}-{{billingAddress.door}}</p>-->
                                    </div>
                                    <div class="text-lg-end col-lg-6 col-12">
                                        <button @click="deleteBillingAddress(billingAddress, index)"
                                                class="btn btn-sm me-2 border-1">Eliminar
                                        </button>
                                        <button @click="showOpenEditBillingAddress(billingAddress, index)"
                                                class="btn btn-sm  border-1">Editar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button @click="showOpenAddBillingAddress"
                                class="btn border-1 mb-2 mt-4"><i class="bi bi-plus me-1"></i>Añade datos de facturación
                        </button>
                        <!--                        <div v-if="billingAddressess.data.length <= 0">-->
                        <!--                            <p class="m-0 fs-6">No tienes direcciones registradas.</p>-->
                        <!--                        </div>-->
                    </div>
                </div>
                <!--TAB: mis Direcciones:finish-->

                <!--TAB: mis Mensajes:init-->
                <div class="" v-if="tab === 'messages'">
                    <h2 class="">Mensajes</h2>
                </div>
                <!--TAB: mis Mensajes:finish-->

                <!--TAB: mis opiniones:init-->
                <div class="" v-if="tab === 'opinions'">
                    <h2 class="">Opiniones</h2>
                </div>
                <!--TAB: mis opiniones:finish-->


                <!--TAB: mis tarjetas vinculadas:init-->
                <div class="" v-if="tab === 'cards'">
                    <h2 class="mb-4">Tarjetas vinculadas</h2>
                    <div>
                        <div v-if="paymentMethods.data.length <= 0">
                            <p class="m-0 fs-7">No tienes tarjetas de credito vinculadas</p>
                        </div>
                        <div v-if="paymentMethods.data.length > 0">
                            Tienes tarjetas de credito vinculadas

                            <div
                                    :class="{ 'bg-primary-opacity text-white': creditCard.id === (defaultPaymentMethods.data?.id || '') }"
                                    :key="index"
                                    @click="selectPaymentMethod(creditCard.id)"
                                    class="card mb-2"
                                    style="cursor: pointer;"
                                    v-for="(creditCard, index) in paymentMethods.data"
                            >
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-credit-card me-3 fs-4"></i>
                                            <div>
                                                <p class="m-0 fs-6 fw-bold">{{ creditCard.billing_details.name }}</p>
                                                <p class="m-0 fs-7">{{ creditCard.card.exp_month }}/{{
                                                    creditCard.card.exp_year }}</p>
                                                <p class="m-0 fs-8">**** {{ creditCard.card.last4 }}</p>
                                            </div>
                                        </div>
                                        <button
                                                @click.stop="deletePaymentMethod(creditCard)"
                                                aria-label="Delete"
                                                class="btn btn-sm p-0"
                                        >
                                            <i :class="creditCard.id === (defaultPaymentMethods.data?.id || '') ? 'text-white' : 'text-primary'"
                                               class="bi bi-trash3"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button @click="showAddCreditCardComponent = !showAddCreditCardComponent"
                                class="btn btn-secondary">Añadir tarjeta de credito
                        </button>


                    </div>
                </div>
                <!--TAB: mis vinculadas:finish-->
            </div>
        </div>
    </div>
</div>


<!--MODAL ADD SHIPPING ADDRESS-->
<div @click="showModalAddShippingAddress = !showModalAddShippingAddress"
     class="w-100 position-fixed top-0 d-flex justify-content-center align-items-center bg-opacity"
     style="z-index: 1000;height: 100vh;"
     v-if="showModalAddShippingAddress">
    <div @click.stop class="w-lg-50 w-90 card bg-white">
        <div class="card-body">
            <div class="d-flex justify-content-between mb-2">
                <div>
                    <p class="m-0 fs-4 fw-bold">Añadir Dirección</p>
                </div>
                <div>
                    <button @click="showModalAddShippingAddress = !showModalAddShippingAddress" class="btn btn-sm">
                        <i
                                class="bi bi-x fs-5"></i></button>
                </div>
            </div>

            <div class="form-floating d-none">
                <input class="form-control w-100" id="idUser" placeholder="Calle ..."
                       type="text"
                       v-model="formDataShippingAdress.idUser" value="">
                <label for="idUser">Id User</label>
            </div>

            <div class="row mb-2">
                <div class="col-lg-6 col-12">
                    <div class="form-floating">
                        <input class="form-control w-100" id="street" placeholder="Calle ..."
                               type="text"
                               v-model="formDataShippingAdress.street" value="">
                        <label for="street">Street</label>
                    </div>

                </div>
                <div class="col-lg-2 col-12">
                    <div class="form-floating w-lg-75">
                        <input class="form-control " id="number" placeholder="3r"
                               type="text" v-model="formDataShippingAdress.number">
                        <label for="number">Number</label>
                    </div>

                </div>
                <div class="col-lg-2 col-12">
                    <div class="form-floating w-lg-75">
                        <input class="form-control " id="floor" placeholder="3r"
                               type="text" v-model="formDataShippingAdress.floor">
                        <label for="floor">Floor</label>
                    </div>

                </div>
                <div class="col-lg-2 col-12">
                    <div class="form-floating w-lg-75">
                        <input class="form-control " id="door" placeholder="3"
                               type="text" v-model="formDataShippingAdress.door">
                        <label for="door">Door</label>
                    </div>
                </div>

            </div>

            <div class="row mb-2">
                <div class="col-lg-12 col-12">
                    <div class="form-floating w-100">
                        <input class="form-control w-lg-96" id="population" placeholder="Terrasa" style=""
                               type="text" v-model="formDataShippingAdress.population">
                        <label for="population">Population</label>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-lg-12 col-12">
                    <div class="form-floating ">
                        <input class="form-control w-lg-96" id="city" placeholder="Barcelona" style=""
                               type="text" v-model="formDataShippingAdress.city">
                        <label for="city">City</label>
                    </div>

                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-12 col-12">
                    <div class="form-floating">
                        <input class="form-control w-lg-96" id="zip_code" placeholder="08906" style=""
                               type="text" v-model="formDataShippingAdress.zip_code">
                        <label for="zip_code">Postal Code</label>
                    </div>

                </div>
            </div>

            <button @click="createShippingAddress" class="btn btn-primary" v-if="typeModal === 'store'">Añadir
                dirección
            </button>
            <button @click="updateShippingAddress" class="btn btn-primary" v-if="typeModal === 'edit'">Actualizar
                dirección
            </button>
        </div>
    </div>
</div>
<!--MODAL ADD SHIPPING ADDRESS-->

<!--MODAL ADD BILLING ADDRESS-->
<div @click="showModalAddBillingAddress = !showModalAddBillingAddress"
     class="w-100 position-fixed top-0 d-flex justify-content-center align-items-center bg-opacity"
     style="z-index: 1000;height: 100vh;"
     v-if="showModalAddBillingAddress">
    <div @click.stop class="w-lg-50 w-90 card bg-white">
        <div class="card-body">

            <div class="d-flex justify-content-between mb-2">
                <div>
                    <p class="m-0 fs-4 fw-bold">Afegir direcció de facturació</p>
                </div>
                <div>
                    <button @click="showModalAddBillingAddress = !showModalAddBillingAddress" class="btn btn-sm">
                        <i
                                class="bi bi-x fs-5"></i></button>
                </div>
            </div>
            <div class="d-flex mb-2">
                <div class="form-check me-2">
                    <input @change="handleTypeChange" class="form-check-input" id="flexRadio1" name="flexRadio"
                           type="radio" v-model="selectedType" value="particular">
                    <label class="form-check-label" for="flexRadio1">
                        Particular
                    </label>
                </div>
                <div class="form-check me-2">
                    <input @change="handleTypeChange" class="form-check-input" id="flexRadio2" name="flexRadio"
                           type="radio" v-model="selectedType" value="autonomo">
                    <label class="form-check-label" for="flexRadio2">
                        Autónomo
                    </label>
                </div>
                <div class="form-check">
                    <input @change="handleTypeChange" class="form-check-input" id="flexRadio3" name="flexRadio"
                           type="radio" v-model="selectedType" value="empresa">
                    <label class="form-check-label" for="flexRadio3">
                        Empresa
                    </label>
                </div>
            </div>

            <div v-if="selectedType === 'particular'">
                <div class="row mb-2">
                    <div class="col-lg-6 col-12">
                        <div class="form-floating">
                            <input class="form-control w-100" placeholder="Nom..."
                                   type="text"
                                   v-model="formDataBillingAdress.name" value="">
                            <label for="nombre">Nombre</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="form-floating">
                            <input class="form-control w-100" placeholder="Cognoms..."
                                   type="text"
                                   v-model="formDataBillingAdress.lastName" value="">
                            <label for="cognoms">Cognoms</label>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-12 col-12">
                        <div class="form-floating">
                            <input class="form-control w-lg-96" placeholder="Telefon ..."
                                   type="text"
                                   v-model="formDataBillingAdress.phoneNumber" value="">
                            <label for="telefon">Telefon</label>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="selectedType === 'autonomo'">

                <div class="row mb-2">
                    <div class="col-lg-12 col-12">
                        <div class="form-floating">
                            <input class="form-control w-lg-96" placeholder="NIF/NIE ..."
                                   type="text"
                                   v-model="formDataBillingAdress.dniNie" value="">
                            <label for="nif-nie">NIF/NIE</label>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-6 col-12">
                        <div class="form-floating">
                            <input class="form-control w-100" placeholder="Nom..."
                                   type="text"
                                   v-model="formDataBillingAdress.name" value="">
                            <label for="nombre">Nombre</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="form-floating">
                            <input class="form-control w-100" placeholder="Cognoms..."
                                   type="text"
                                   v-model="formDataBillingAdress.lastName" value="">
                            <label for="cognoms">Cognoms</label>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-12 col-12">
                        <div class="form-floating">
                            <input class="form-control w-lg-96" placeholder="Telefon ..."
                                   type="text"
                                   v-model="formDataBillingAdress.phoneNumber" value="">
                            <label for="telefon">Telefon</label>
                        </div>
                    </div>
                </div>

            </div>

            <div v-if="selectedType === 'empresa'">
                <div class="row mb-2">
                    <div class="col-lg-12 col-12">
                        <div class="form-floating">
                            <input class="form-control w-lg-96" placeholder="CIF/NIF ..."
                                   type="text"
                                   v-model="formDataBillingAdress.cif" value="">
                            <label for="cif-nif">CIF/NIF</label>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-12 col-12">
                        <div class="form-floating">
                            <input class="form-control w-lg-96" placeholder="Nombre empresa ..."
                                   type="text"
                                   v-model="formDataBillingAdress.companyName" value="">
                            <label for="companyName">Nom d'empresa</label>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-12 col-12">
                        <div class="form-floating">
                            <input class="form-control w-lg-96" placeholder="Telefon ..."
                                   type="text"
                                   v-model="formDataBillingAdress.phoneNumber" value="">
                            <label for="telefon">Telefon</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-floating d-none">
                <input class="form-control w-100" placeholder="Calle ..."
                       type="text"
                       v-model="formDataBillingAdress.idUser" value="">
                <label for="idUser">Id User</label>
            </div>

            <div class="row mb-2">
                <div class="col-lg-6 col-12">
                    <div class="form-floating">
                        <input class="form-control w-100" placeholder="Calle ..."
                               type="text"
                               v-model="formDataBillingAdress.street" value="">
                        <label for="street">Street</label>
                    </div>

                </div>
                <div class="col-lg-2 col-12">
                    <div class="form-floating w-lg-75">
                        <input class="form-control " placeholder="3r"
                               type="text" v-model="formDataBillingAdress.number">
                        <label for="number">Number</label>
                    </div>

                </div>
                <div class="col-lg-2 col-12">
                    <div class="form-floating w-lg-75">
                        <input class="form-control " placeholder="3r"
                               type="text" v-model="formDataBillingAdress.floor">
                        <label for="floor">Floor</label>
                    </div>

                </div>
                <div class="col-lg-2 col-12">
                    <div class="form-floating w-lg-75">
                        <input class="form-control " placeholder="3"
                               type="text" v-model="formDataBillingAdress.door">
                        <label for="door">Door</label>
                    </div>
                </div>

            </div>

            <div class="row mb-2">
                <div class="col-lg-12 col-12">
                    <div class="form-floating w-100">
                        <input class="form-control w-lg-96" placeholder="Terrasa" style=""
                               type="text" v-model="formDataBillingAdress.population">
                        <label for="population">Population</label>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-lg-12 col-12">
                    <div class="form-floating ">
                        <input class="form-control w-lg-96" placeholder="Barcelona" style=""
                               type="text" v-model="formDataBillingAdress.city">
                        <label for="city">City</label>
                    </div>

                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-12 col-12">
                    <div class="form-floating">
                        <input class="form-control w-lg-96" placeholder="08906" style=""
                               type="text" v-model="formDataBillingAdress.zip_code">
                        <label for="zip_code">Postal Code</label>
                    </div>

                </div>
            </div>

            <button @click="createBillingAddress" class="btn btn-primary" v-if="typeModalBilling === 'store'">Añadir
                dirección
            </button>
            <button @click="updateBillingAddress" class="btn btn-primary" v-if="typeModalBilling === 'edit'">Actualizar
                dirección
            </button>
        </div>
    </div>
</div>
<!--MODAL ADD BILLING ADDRESS-->

<!--MODAL ADD CARDS INIT-->
<div @click="showAddCreditCardComponent = !showAddCreditCardComponent"
     class="w-100 position-fixed top-0 d-flex justify-content-center align-items-center bg-opacity"
     style="z-index: 1000;height: 100vh;"
     v-if="showAddCreditCardComponent">
    <div @click.stop class="w-lg-50 w-90 card border-none bg-white">
        <add-payment-method-component
                @default-payment-method="defaultPaymentMethods.data = $event"
                @payment-methods="handleDefaultPaymentMethod"

        ></add-payment-method-component>
    </div>
</div>
<!--MODAL ADD CARDS FINISH-->


<!--MODAL SHOW DETAILS PEDIDO-->
<div @click="showModalDetailsOrder = !showModalDetailsOrder"
     class="w-100 position-fixed top-0 d-flex justify-content-center align-items-center bg-opacity"
     style="z-index: 1000;height: 100vh;"
     v-if="showModalDetailsOrder">
    <div @click.stop class="w-lg-25 w-90 card bg-white">
        <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
                <div>
                    <p class="m-0 fs-4 fw-bold">Detalles pedido</p>
                </div>
                <div>
                    <button @click="showModalDetailsOrder = !showModalDetailsOrder" class="btn btn-sm">
                        <i
                                class="bi bi-x fs-5"></i></button>
                </div>
            </div>

            <div>
                <div class="d-flex mb-4">
                    <span><i class="bi bi-shop fs-4 me-3"></i></span>
                    <div class="fs-6">
                        <p class="m-0 fw-bold">Dirección de envio</p>
                        <p class="m-0">{{formDataOrder.shippingAddress.street}},
                            {{formDataOrder.shippingAddress.door}}-{{formDataOrder.shippingAddress.floor}}
                            {{formDataOrder.shippingAddress.zip_code}} {{formDataOrder.shippingAddress.city}}, {{formDataOrder.shippingAddress.population}}</p>
                    </div>
                </div>

                <div class="d-flex mb-4">
                    <span><i class="bi bi-receipt fs-4 me-3"></i></span>
                    <div class="fs-6">
                        <p class="m-0 fw-bold">Dirección de facturación</p>
                        <p class="m-0">
                            {{formDataOrder.billingAddress.name}} {{formDataOrder.billingAddress.last_name}} ,

                            {{formDataOrder.billingAddress.street}},
                            {{formDataOrder.billingAddress.door}}-{{formDataOrder.billingAddress.floor}}
                            {{formDataOrder.billingAddress.zip_code}} {{formDataOrder.billingAddress.city}}, {{formDataOrder.billingAddress.population}}
                        </p>
                    </div>
                </div>

                <div class="d-flex mb-4">
                    <span><i class="bi bi-credit-card fs-4 me-3"></i></span>
                    <div class="fs-6">
                        <p class="m-0 fw-bold">Método de pago</p>
                        <p class="m-0">Tarjeta de crédito</p>
                    </div>
                </div>

                <div class="d-flex mb-4">
                    <span><i class="bi bi-hdd-rack fs-4 me-3"></i></span>
                    <div class="fs-6">
                        <p class="m-0 fw-bold text-center">Resumen</p>
                    </div>
                </div>

                <div class="d-flex justify-content-between mb-4 px-4">
                    <p class="m-0">Total: </p>
                    <p class="m-0 fw-bold">{{formDataOrder.total}}€ </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MODAL SHOW DETAILS PEDIDO-->