<div class="h-100">
    <div class="py-lg-8 py-5 h-100 px-lg-20 px-3">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10 col-12">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6 col-12">
                            <div class="card-body">

                                <div class="text-center">
                                    <img src="./img/logo-name.png"
                                         style="width: 280px;" alt="logo">
                                </div>
                                <div class=" px-lg-4 px-1">
                                    <p>Si us plau registra't.</p>

                                    <div class="row ">
                                        <div class="col-lg-6  col-12 ">
                                            <div class="form-floating ">
                                                <input type="text" class="form-control" id="username" name="username" placeholder="Juan" v-model="formData.username" @blur="validateUsername">
                                                <label for="floatingInput">Usuari</label>
                                            </div>
                                            <p class="text-danger fs-7" id="validator-username">{{ errors.username }}</p>
                                        </div>
                                        <div class="col-lg-6 col-12  ">
                                            <div class="form-floating ">
                                                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" v-model="formData.email" @blur="validateEmail">
                                                <label for="floatingInput">Correu electrònic</label>
                                            </div>
                                            <p class="text-danger fs-7" id="validator-email">{{ errors.email }}</p>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <div class="form-floating d-flex position-relative">
                                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" v-model="formData.password" @blur="validatePassword">
                                            <label for="password">Contrasenya</label>
                                            <i class="bi bi-eye-slash position-absolute end-0 top-50 translate-middle-y me-3" id="toggle-password" style="cursor: pointer;"></i>
                                        </div>
                                        <p class="text-danger fs-7" id="validator-password">{{ errors.password }}</p>
                                    </div>

                                    <div class="mb-3">
                                        <div class="form-floating d-flex position-relative">
                                            <input type="password" class="form-control" id="password-repeat" placeholder="Password-repeat" v-model="formData.passwordRepeat" @blur="validatePasswordRepeat">
                                            <label for="password-repeat">Confirma la contrasenya</label>
                                            <i class="bi bi-eye-slash position-absolute end-0 top-50 translate-middle-y me-3" id="toggle-password-repeat" style="cursor: pointer;"></i>
                                        </div>
                                        <p class="text-danger fs-7" id="validator-password-repeat">{{ errors.passwordRepeat }}</p>
                                    </div>


                                    <div class="text-center pt-1 mb-5 pb-1 d-flex flex-column">
                                        <button class="btn btn-primary bg-custom-gradient btn-lg mb-3" id="btn-submit" type="button" @click="register" :disabled="!isFormValid">Registra't</button>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="mb-0 me-2">Tens un compte?</p>
                                        <button @click="goToLogin"  class="btn btn-outline-danger">Log in</button>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 col-12 d-flex align-items-center bg-custom-gradient">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">Som més que una companyia</h4>
                                <p class="small mb-0">Netcore ofereix una experiència de compra en línia completa i
                                    convenient, amb una àmplia varietat de tecnologia que inclou components dordinador,
                                    perifèrics, i telèfons mòbils dúltima generació. Destaquem pels nostres preus
                                    competitius, assessoria personalitzada d'experts per ajudar-te a trobar allò que
                                    necessites, i un sistema d'enviament ràpid i segur que garanteix el lliurament dels
                                    teus productes en perfectes condicions.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div
        class="loading-overlay position-fixed top-0 d-flex justify-content-center align-items-center bg-opacity"
        v-if="showLoadingPage">
    <div class="text-center position-relative">
        <img src="./img/logo.png" alt="Logo" class="logo-image">
        <div class="spinner-border spinner-border-custom position-absolute"></div>
    </div>
</div>

<ToastNotificationComponent
        v-model:show="showToast"
        :message="toastMessage"
        :type="toastType"
/>