<link rel="stylesheet" href="../../css/style.css">
<div id="app">
  <div class="container">
    <div class="row">
      <!-- Filtro Lateral -->
      <div class="filter-column col-2">
        <div><br>
            <h5>Filtros populares</h5>
            <label><input type="checkbox" v-model="filters.popular.MSI"> MSI</label><br>
            <label><input type="checkbox" v-model="filters.popular.Razer"> Razer</label><br>
            <label><input type="checkbox" v-model="filters.popular.Micrófonos"> Micrófonos</label><br>
            <label><input type="checkbox" v-model="filters.popular.Auriculares"> Auriculares</label><br>
          </div>
        <hr>

        <div class="search-container">
            <h5>Búsqueda de filtros</h5>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="search-input" placeholder="Buscar..." v-model="searchQuery.text" @blur="validateSearchQuery">
              <label for="search-input">Buscar...</label>
            </div>
          </div>
          
        <hr>

        <div>
          <h5>Categorías</h5>
          <label><input type="checkbox" v-model="filters.categories.Componentes"> Componentes</label><br>
          <label><input type="checkbox" v-model="filters.categories.Portátiles"> Portátiles</label><br>
          <label><input type="checkbox" v-model="filters.categories.Periféricos"> Periféricos</label><br>
          <label><input type="checkbox" v-model="filters.categories.Monitores"> Monitores</label><br>        
          <label><input type="checkbox" v-model="filters.categories.Impresoras"> Impresoras</label><br>  
        </div>
        <hr>

        <div>
            <h5>Precio</h5>
            <label>
              <input type="range" min="0" max="10000" v-model="price.value">
              <br>0€ - {{ price.value }}€
            </label>
          </div>
        <hr>

        <div>
          <h5>Marcas</h5>
          <label><input type="checkbox" v-model="filters.brands.HP"> HP</label><br>
          <label><input type="checkbox" v-model="filters.brands.Samsung"> Samsung</label><br>
          <label><input type="checkbox" v-model="filters.brands.Apple"> Apple</label><br>
          <label><input type="checkbox" v-model="filters.brands.Seagate"> Seagate</label><br>
          <label><input type="checkbox" v-model="filters.brands.AMD"> AMD</label><br>
          <label><input type="checkbox" v-model="filters.brands.Dell"> Dell</label><br>
          <label><input type="checkbox" v-model="filters.brands.NVIDIA"> NVIDIA</label><br>
          <label><input type="checkbox" v-model="filters.brands.Corsair"> Corsair</label><br>
          <label><input type="checkbox" v-model="filters.brands.Kingston"> Kingston</label><br>
          <label><input type="checkbox" v-model="filters.brands.Logitech"> Logitech</label><br>
          <label><input type="checkbox" v-model="filters.brands.Razer"> Razer</label><br>
          <label><input type="checkbox" v-model="filters.brands.Intel"> Intel</label><br>
          <label><input type="checkbox" v-model="filters.brands.MSI"> MSI</label><br>
          <label><input type="checkbox" v-model="filters.brands.Asus"> Asus</label><br>
          <label><input type="checkbox" v-model="filters.brands.EVGA"> EVGA</label><br>
          <label><input type="checkbox" v-model="filters.brands.CoolerMaster"> Cooler Master</label><br>
          <label><input type="checkbox" v-model="filters.brands.NZXT"> NZXT</label><br>
          <label><input type="checkbox" v-model="filters.brands.SteelSeries"> SteelSeries</label><br>
          <label><input type="checkbox" v-model="filters.brands.Acer"> Acer</label><br>
          <label><input type="checkbox" v-model="filters.brands.LG"> LG</label><br>
          <label><input type="checkbox" v-model="filters.brands.Gigabyte"> Gigabyte</label><br>
          <label><input type="checkbox" v-model="filters.brands.GSkill"> G.Skill</label><br>
          <label><input type="checkbox" v-model="filters.brands.Noctua"> Noctua</label><br>
          <label><input type="checkbox" v-model="filters.brands.FractalDesign"> Fractal Design</label><br>
          <label><input type="checkbox" v-model="filters.brands.Epson"> Epson</label><br>
          <label><input type="checkbox" v-model="filters.brands.BenQ"> BenQ</label><br>
          <label><input type="checkbox" v-model="filters.brands.Lenovo"> Lenovo</label><br>
          <label><input type="checkbox" v-model="filters.brands.Brother"> Brother</label><br>
          <label><input type="checkbox" v-model="filters.brands.Sapphire"> Sapphire</label><br>
          <label><input type="checkbox" v-model="filters.brands.Thermaltake"> Thermaltake</label><br>
          <label><input type="checkbox" v-model="filters.brands.BeQuiet"> BeQuiet!</label><br>
          <label><input type="checkbox" v-model="filters.brands.Phanteks"> Phanteks</label><br>
          <label><input type="checkbox" v-model="filters.brands.Canon"> Canon</label><br>
          <label><input type="checkbox" v-model="filters.brands.ASRock"> ASRock</label><br>
          <label><input type="checkbox" v-model="filters.brands.Seasonic"> Seasonic</label><br>
          <label><input type="checkbox" v-model="filters.brands.Microsoft"> Microsoft</label><br>
          <label><input type="checkbox" v-model="filters.brands.Keychron"> Keychron</label><br>
        </div>
        <hr>

        <div>
          <h5>Valoración</h5>
          <label><input type="checkbox"> ⭐⭐⭐⭐ y más</label><br>
          <label><input type="checkbox"> Todas las valoraciones</label><br>
        </div>
        <hr>
      </div>

      <!-- Productos -->
      <div class="col-10">
        <div class="row" v-if="filteredProducts.length > 0">
          <div v-for="product in filteredProducts" :key="product.id" @click="showToProduct(product)" style="cursor: pointer" class="col-4 mb-4">
            <div class="card">
              <div class="text-decoration-none" style="color: black;">
                <div class="card-body">
                  <div class="container-img">
                    <img :src="product.image_path" width="200px" alt="Imagen de {{ product.name }}" />
                  </div>
                  {{product.sub_category.category.name}}
                  {{product.sub_category.name}}
                  {{product.brand.name}}

                  <div class="p-2">
                    <p class="m-0 mb-2">{{ product.name }}</p>
                    <p class="product-description">{{ product.description || 'Sin descripción disponible' }}</p>
                    <p class="fs-4 fw-bold text-primary">{{ product.price }}€</p>
                    <p class="fs-7 fw-semibold">{{ product.valoraciones || 'No valoraciones' }} <i class="bi bi-star-fill text-warning"></i></p>
                    <p v-if="product.stock > 0" class="badge badge-success">En stock</p>
                    <p v-else class="badge badge-danger">No está en stock</p>
                    <button @click.stop="addToCart(product)" class="btn btn-primary btn-sm ms-2">
                                                          <i class="bi bi-cart-fill"></i>
                                                      </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <p>No hay productos disponibles.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
        class="loading-overlay position-fixed top-0 d-flex justify-content-center align-items-center bg-opacity"
        v-if="showLoadingPage">
  <div class="text-center position-relative">
    <img alt="Logo" class="logo-image" src="./img/logo.png">
    <div class="spinner-border spinner-border-custom position-absolute"></div>
  </div>
</div>
