<link rel="stylesheet" href="style.css">
<div class="container">
    <div class="row">
        <!-- Filtro Lateral -->
        <div class="filter-column col-2">
            <div><br>
                <h5>Filtros populares</h5>
                <label><input type="checkbox"> MSI</label><br>
                <label><input type="checkbox"> Asus</label><br>
                <label><input type="checkbox"> ATX</label><br>
                <label><input type="checkbox"> Socket 1700</label><br>
            </div>
            <hr>
            <div class="search-container">
                <h5>Búsqueda de filtros</h5>
                <div class="search-box">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="search-input" placeholder="Buscar ..." />
                        <label for="search-input">Buscar ...</label>
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <h5>Categorías</h5>
                <label><input type="checkbox"> Procesadores</label><br>
                <label><input type="checkbox"> Tarjetas Gráficas</label><br>
                <label><input type="checkbox"> Placas Base</label><br>
                <label><input type="checkbox"> Memoria RAM</label><br>
            </div>
            <hr>
            <div>
                <h5>Precio</h5>
                <label><input type="range" min="0" max="1000" value="500"><br>0€ - 1000€</label>
            </div>
            <hr>
            <div>
                <h5>Marcas</h5>
                <label><input type="checkbox"> HP</label><br>
                <label><input type="checkbox"> Samsung</label><br>
                <label><input type="checkbox"> Intel</label><br>
                <label><input type="checkbox"> Apple</label><br>
                <label><input type="checkbox"> Windows11</label><br>
                <label><input type="checkbox"> Chromebook</label><br>
                <label><input type="checkbox"> Corsair</label><br>
                <label><input type="checkbox"> Asus</label><br>
            </div>
            <hr>
            <div>
                <h5>Entrega</h5>
                <label><input type="checkbox"> Envio Gratis</label><br>
                <label><input type="checkbox"> Recibelo mañana</label><br>
            </div>
            <hr>
            <div>
                <h5>Valoración</h5>
                <label><input type="checkbox"> ⭐⭐⭐⭐ y más</label><br>
                <label><input type="checkbox"> Todas las valoraciones</label><br>
            </div>
            <hr>
        </div>

        <!-- Productos -->
        <div class="product-column col-8">
            <div class="row">
                <div class="col-3 d-flex justify-content-center">
                    <div class="card" style="margin: 10px; margin-bottom: 20px;"> <!-- Ajuste de margen aquí -->
                        <a href="link-a-producto" class="text-decoration-none" style="color: black;">
                            <div class="card-body">
                                <div class="container-img">
                                    <img src="https://m.media-amazon.com/images/I/81b75EQJrgL._AC_UF894,1000_QL80_.jpg"
                                        width="200px" />
                                </div>
                                <div class="p-2">
                                    <p class="m-0 mb-2">AMD Ryzen 5 3600 - Procesador con disipador de calor Wraith
                                        Stealth</p>
                                    <p class="fs-4 fw-bold text-primary">470€</p>
                                    <p class="fs-7 fw-semibold">4,8/5 <i class="bi bi-star-fill text-warning"></i> 166
                                        Opiniones</p>
                                    <p class="badge badge-danger">No está en stock</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <div class="card" style="margin: 10px; margin-bottom: 20px;">
                        <a href="link-a-producto" class="text-decoration-none" style="color: black;">
                            <div class="card-body">
                                <div class="container-img">
                                    <img src="https://m.media-amazon.com/images/I/81b75EQJrgL._AC_UF894,1000_QL80_.jpg"
                                        width="200px" />
                                </div>
                                <div class="p-2">
                                    <p class="m-0 mb-2">AMD Ryzen 5 3600 - Procesador con disipador de calor Wraith
                                        Stealth</p>
                                    <p class="fs-4 fw-bold text-primary">470€</p>
                                    <p class="fs-7 fw-semibold">4,8/5 <i class="bi bi-star-fill text-warning"></i> 166
                                        Opiniones</p>
                                    <p class="badge badge-danger">No está en stock</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <div class="card" style="margin: 10px; margin-bottom: 20px;">
                        <a href="link-a-producto" class="text-decoration-none" style="color: black;">
                            <div class="card-body">
                                <div class="container-img">
                                    <img src="https://m.media-amazon.com/images/I/81b75EQJrgL._AC_UF894,1000_QL80_.jpg"
                                        width="200px" />
                                </div>
                                <div class="p-2">
                                    <p class="m-0 mb-2">AMD Ryzen 5 3600 - Procesador con disipador de calor Wraith
                                        Stealth</p>
                                    <p class="fs-4 fw-bold text-primary">470€</p>
                                    <p class="fs-7 fw-semibold">4,8/5 <i class="bi bi-star-fill text-warning"></i> 166
                                        Opiniones</p>
                                    <p class="badge badge-danger">No está en stock</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <div class="card" style="margin: 10px; margin-bottom: 20px;">
                        <a href="link-a-producto" class="text-decoration-none" style="color: black;">
                            <div class="card-body">
                                <div class="container-img">
                                    <img src="https://m.media-amazon.com/images/I/81b75EQJrgL._AC_UF894,1000_QL80_.jpg"
                                        width="200px" />
                                </div>
                                <div class="p-2">
                                    <p class="m-0 mb-2">AMD Ryzen 5 3600 - Procesador con disipador de calor Wraith
                                        Stealth</p>
                                    <p class="fs-4 fw-bold text-primary">470€</p>
                                    <p class="fs-7 fw-semibold">4,8/5 <i class="bi bi-star-fill text-warning"></i> 166
                                        Opiniones</p>
                                    <p class="badge badge-danger">No está en stock</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Nueva fila para más productos -->
            <div class="row">
                <div class="col-3 d-flex justify-content-center">
                    <div class="card" style="margin: 10px; margin-bottom: 20px;">
                        <a href="link-a-producto" class="text-decoration-none" style="color: black;">
                            <div class="card-body">
                                <div class="container-img">
                                    <img src="https://m.media-amazon.com/images/I/81b75EQJrgL._AC_UF894,1000_QL80_.jpg"
                                        width="200px" />
                                </div>
                                <div class="p-2">
                                    <p class="m-0 mb-2">AMD Ryzen 5 3600 - Procesador con disipador de calor Wraith
                                        Stealth</p>
                                    <p class="fs-4 fw-bold text-primary">470€</p>
                                    <p class="fs-7 fw-semibold">4,8/5 <i class="bi bi-star-fill text-warning"></i> 166
                                        Opiniones</p>
                                    <p class="badge badge-danger">No está en stock</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <div class="card" style="margin-bottom: 20px;">
                        <a href="link-a-producto" class="text-decoration-none" style="color: black;">
                            <div class="card-body">
                                <div class="container-img">
                                    <img src="https://m.media-amazon.com/images/I/81b75EQJrgL._AC_UF894,1000_QL80_.jpg"
                                        width="200px" />
                                </div>
                                <div class="p-2">
                                    <p class="m-0 mb-2">AMD Ryzen 5 3600 - Procesador con disipador de calor Wraith
                                        Stealth</p>
                                    <p class="fs-4 fw-bold text-primary">470€</p>
                                    <p class="fs-7 fw-semibold">4,8/5 <i class="bi bi-star-fill text-warning"></i> 166
                                        Opiniones</p>
                                    <p class="badge badge-danger">No está en stock</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <div class="card" style="margin: 10px; margin-bottom: 20px;">
                        <a href="link-a-producto" class="text-decoration-none" style="color: black;">
                            <div class="card-body">
                                <div class="container-img">
                                    <img src="https://m.media-amazon.com/images/I/81b75EQJrgL._AC_UF894,1000_QL80_.jpg"
                                        width="200px" />
                                </div>
                                <div class="p-2">
                                    <p class="m-0 mb-2">AMD Ryzen 5 3600 - Procesador con disipador de calor Wraith
                                        Stealth</p>
                                    <p class="fs-4 fw-bold text-primary">470€</p>
                                    <p class="fs-7 fw-semibold">4,8/5 <i class="bi bi-star-fill text-warning"></i> 166
                                        Opiniones</p>
                                    <p class="badge badge-danger">No está en stock</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <div class="card" style="margin: 10px; margin-bottom: 20px;">
                        <a href="link-a-producto" class="text-decoration-none" style="color: black;">
                            <div class="card-body">
                                <div class="container-img">
                                    <img src="https://m.media-amazon.com/images/I/81b75EQJrgL._AC_UF894,1000_QL80_.jpg"
                                        width="200px" />
                                </div>
                                <div class="p-2">
                                    <p class="m-0 mb-2">AMD Ryzen 5 3600 - Procesador con disipador de calor Wraith
                                        Stealth</p>
                                    <p class="fs-4 fw-bold text-primary">470€</p>
                                    <p class="fs-7 fw-semibold">4,8/5 <i class="bi bi-star-fill text-warning"></i> 166
                                        Opiniones</p>
                                    <p class="badge badge-danger">No está en stock</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>