<head>
    <link rel="stylesheet" href="/front/css/style.css">
    <style>
        h2 {
            text-align: center;
        }

        h5 {
            text-align: center;
        }

        .categorias-section {
            max-width: 70%;
            margin: 0 auto;
        }

        .productos-section {
            max-width: 70%;
            margin: 0 auto;
        }

        .categorias .col-2 {
            margin: 10px;
        }

        .categorias {
            padding: 20px;
        }

        .categorias img {
            max-width: 100%;
            height: auto;
        }

        .card {
            border: none;
        }
    </style>
</head>
<section>
    <h2>Mejores ofertas</h2>
    <div class="section mx-auto" style="max-width: 70%;">
        <div class="row">
            <div class="col-lg-2 col-12">
                <a href="link-a-producto" class="text-decoration-none" style="color: black;">
                    <div class="card p-0 border-none">
                        <div class="card-body p-0">
                            <div class="w-100 container-img p-1" style="height: 200px;">
                                <img class="img-fluid"
                                    src="https://m.media-amazon.com/images/I/81b75EQJrgL._AC_UF894,1000_QL80_.jpg" />
                            </div>
                            <div class="p-2">
                                <p class="m-0 mb-2"> AMD Ryzen 5 3600 - Procesador
                                </p>
                                <p class="fs-4 fw-bold mb-2 m-0 text-primary">470€</p>
                                <p class="fs-7 m-0 fw-semibold ">4,8/5 ⭐ <span><i
                                            class="bi bi-star-fill text-warning"></i></span> 166 Opiniones</p>
                                <p class="badge badge-success">Esta en stock</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-12">
                <a href="link-a-producto" class="text-decoration-none" style="color: black;">
                    <div class="card p-0 border-none">
                        <div class="card-body p-0">
                            <div class="w-100 container-img p-1" style="height: 200px;">
                                <img class="img-fluid"
                                    src="https://m.media-amazon.com/images/I/81b75EQJrgL._AC_UF894,1000_QL80_.jpg" />
                            </div>
                            <div class="p-2">
                                <p class="m-0 mb-2"> AMD Ryzen 5 3600 - Procesador
                                </p>
                                <p class="fs-4 fw-bold mb-2 m-0 text-primary">470€</p>
                                <p class="fs-7 m-0 fw-semibold ">4,8/5 ⭐ <span><i
                                            class="bi bi-star-fill text-warning"></i></span> 166 Opiniones</p>
                                <p class="badge badge-success">Esta en stock</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-12">
                <a href="link-a-producto" class="text-decoration-none" style="color: black;">
                    <div class="card p-0 border-none">
                        <div class="card-body p-0">
                            <div class="w-100 container-img p-1" style="height: 200px;">
                                <img class="img-fluid"
                                    src="https://m.media-amazon.com/images/I/81b75EQJrgL._AC_UF894,1000_QL80_.jpg" />
                            </div>
                            <div class="p-2">
                                <p class="m-0 mb-2"> AMD Ryzen 5 3600 - Procesador
                                </p>
                                <p class="fs-4 fw-bold mb-2 m-0 text-primary">470€</p>
                                <p class="fs-7 m-0 fw-semibold ">4,8/5 ⭐ <span><i
                                            class="bi bi-star-fill text-warning"></i></span> 166 Opiniones</p>
                                <p class="badge badge-success">Esta en stock</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-12">
                <a href="link-a-producto" class="text-decoration-none" style="color: black;">
                    <div class="card p-0 border-none">
                        <div class="card-body p-0">
                            <div class="w-100 container-img p-1" style="height: 200px;">
                                <img class="img-fluid"
                                    src="https://m.media-amazon.com/images/I/81b75EQJrgL._AC_UF894,1000_QL80_.jpg" />
                            </div>
                            <div class="p-2">
                                <p class="m-0 mb-2"> AMD Ryzen 5 3600 - Procesador
                                </p>
                                <p class="fs-4 fw-bold mb-2 m-0 text-primary">470€</p>
                                <p class="fs-7 m-0 fw-semibold ">4,8/5 ⭐ <span><i
                                            class="bi bi-star-fill text-warning"></i></span> 166 Opiniones</p>
                                <p class="badge badge-success">Esta en stock</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-12">
                <a href="link-a-producto" class="text-decoration-none" style="color: black;">
                    <div class="card p-0 border-none">
                        <div class="card-body p-0">
                            <div class="w-100 container-img p-1" style="height: 200px;">
                                <img class="img-fluid"
                                    src="https://m.media-amazon.com/images/I/81b75EQJrgL._AC_UF894,1000_QL80_.jpg" />
                            </div>
                            <div class="p-2">
                                <p class="m-0 mb-2"> AMD Ryzen 5 3600 - Procesador
                                </p>
                                <p class="fs-4 fw-bold mb-2 m-0 text-primary">470€</p>
                                <p class="fs-7 m-0 fw-semibold ">4,8/5 ⭐ <span><i
                                            class="bi bi-star-fill text-warning"></i></span> 166 Opiniones</p>
                                <p class="badge badge-success">Esta en stock</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-12">
                <a href="link-a-producto" class="text-decoration-none" style="color: black;">
                    <div class="card p-0 border-none">
                        <div class="card-body p-0">
                            <div class="w-100 container-img p-1" style="height: 200px;">
                                <img class="img-fluid"
                                    src="https://m.media-amazon.com/images/I/81b75EQJrgL._AC_UF894,1000_QL80_.jpg" />
                            </div>
                            <div class="p-2">
                                <p class="m-0 mb-2"> AMD Ryzen 5 3600 - Procesador
                                </p>
                                <p class="fs-4 fw-bold mb-2 m-0 text-primary">470€</p>
                                <p class="fs-7 m-0 fw-semibold ">4,8/5 ⭐ <span><i
                                            class="bi bi-star-fill text-warning"></i></span> 166 Opiniones</p>
                                <p class="badge badge-success">Esta en stock</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section>
    <h2>Productos mas vendidos</h2>
    <div class="section mx-auto" style="max-width: 70%;">
        <div class="row">
            <div class="col-lg-2 col-12">
                <a href="link-a-producto" class="text-decoration-none" style="color: black;">
                    <div class="card p-0 border-none">
                        <div class="card-body p-0">
                            <div class="w-100 container-img p-1" style="height: 200px;">
                                <img class="img-fluid"
                                    src="https://m.media-amazon.com/images/I/81b75EQJrgL._AC_UF894,1000_QL80_.jpg" />
                            </div>
                            <div class="p-2">
                                <p class="m-0 mb-2"> AMD Ryzen 5 3600 - Procesador
                                </p>
                                <p class="fs-4 fw-bold mb-2 m-0 text-primary">470€</p>
                                <p class="fs-7 m-0 fw-semibold ">4,8/5 ⭐ <span><i
                                            class="bi bi-star-fill text-warning"></i></span> 166 Opiniones</p>
                                <p class="badge badge-success">Esta en stock</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-12">
                <a href="link-a-producto" class="text-decoration-none" style="color: black;">
                    <div class="card p-0 border-none">
                        <div class="card-body p-0">
                            <div class="w-100 container-img p-1" style="height: 200px;">
                                <img class="img-fluid"
                                    src="https://m.media-amazon.com/images/I/81b75EQJrgL._AC_UF894,1000_QL80_.jpg" />
                            </div>
                            <div class="p-2">
                                <p class="m-0 mb-2"> AMD Ryzen 5 3600 - Procesador
                                </p>
                                <p class="fs-4 fw-bold mb-2 m-0 text-primary">470€</p>
                                <p class="fs-7 m-0 fw-semibold ">4,8/5 ⭐ <span><i
                                            class="bi bi-star-fill text-warning"></i></span> 166 Opiniones</p>
                                <p class="badge badge-success">Esta en stock</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-12">
                <a href="link-a-producto" class="text-decoration-none" style="color: black;">
                    <div class="card p-0 border-none">
                        <div class="card-body p-0">
                            <div class="w-100 container-img p-1" style="height: 200px;">
                                <img class="img-fluid"
                                    src="https://m.media-amazon.com/images/I/81b75EQJrgL._AC_UF894,1000_QL80_.jpg" />
                            </div>
                            <div class="p-2">
                                <p class="m-0 mb-2"> AMD Ryzen 5 3600 - Procesador
                                </p>
                                <p class="fs-4 fw-bold mb-2 m-0 text-primary">470€</p>
                                <p class="fs-7 m-0 fw-semibold ">4,8/5 ⭐ <span><i
                                            class="bi bi-star-fill text-warning"></i></span> 166 Opiniones</p>
                                <p class="badge badge-success">Esta en stock</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-12">
                <a href="link-a-producto" class="text-decoration-none" style="color: black;">
                    <div class="card p-0 border-none">
                        <div class="card-body p-0">
                            <div class="w-100 container-img p-1" style="height: 200px;">
                                <img class="img-fluid"
                                    src="https://m.media-amazon.com/images/I/81b75EQJrgL._AC_UF894,1000_QL80_.jpg" />
                            </div>
                            <div class="p-2">
                                <p class="m-0 mb-2"> AMD Ryzen 5 3600 - Procesador
                                </p>
                                <p class="fs-4 fw-bold mb-2 m-0 text-primary">470€</p>
                                <p class="fs-7 m-0 fw-semibold ">4,8/5 ⭐ <span><i
                                            class="bi bi-star-fill text-warning"></i></span> 166 Opiniones</p>
                                <p class="badge badge-success">Esta en stock</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-12">
                <a href="link-a-producto" class="text-decoration-none" style="color: black;">
                    <div class="card p-0 border-none">
                        <div class="card-body p-0">
                            <div class="w-100 container-img p-1" style="height: 200px;">
                                <img class="img-fluid"
                                    src="https://m.media-amazon.com/images/I/81b75EQJrgL._AC_UF894,1000_QL80_.jpg" />
                            </div>
                            <div class="p-2">
                                <p class="m-0 mb-2"> AMD Ryzen 5 3600 - Procesador
                                </p>
                                <p class="fs-4 fw-bold mb-2 m-0 text-primary">470€</p>
                                <p class="fs-7 m-0 fw-semibold ">4,8/5 ⭐ <span><i
                                            class="bi bi-star-fill text-warning"></i></span> 166 Opiniones</p>
                                <p class="badge badge-success">Esta en stock</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-12">
                <a href="link-a-producto" class="text-decoration-none" style="color: black;">
                    <div class="card p-0 border-none">
                        <div class="card-body p-0">
                            <div class="w-100 container-img p-1" style="height: 200px;">
                                <img class="img-fluid"
                                    src="https://m.media-amazon.com/images/I/81b75EQJrgL._AC_UF894,1000_QL80_.jpg" />
                            </div>
                            <div class="p-2">
                                <p class="m-0 mb-2"> AMD Ryzen 5 3600 - Procesador
                                </p>
                                <p class="fs-4 fw-bold mb-2 m-0 text-primary">470€</p>
                                <p class="fs-7 m-0 fw-semibold ">4,8/5 ⭐ <span><i
                                            class="bi bi-star-fill text-warning"></i></span> 166 Opiniones</p>
                                <p class="badge badge-success">Esta en stock</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="bg-primary">
    <h2 style="color: white;">Categorías en tendencia</h2>
    <div class="categorias">
        <div class="row">
            <div class="col-2">
                <a href="link-a-categorias" class="text-decoration-none" style="color: black;">
                    <div class="card w-100">
                        <img class="card-img-top img-fluid" src="/front/img/monitor.webp" alt="Monitor">
                        <div class="card-body">
                            <h5 class="card-title">Monitores</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-2">
                <a href="link-a-categorias" class="text-decoration-none" style="color: black;">
                    <div class="card w-100">
                        <img class="card-img-top img-fluid" src="/front/img/portatil.webp" alt="Portatil">
                        <div class="card-body">
                            <h5 class="card-title">Portátiles</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-2">
                <a href="link-a-categorias" class="text-decoration-none" style="color: black;">
                    <div class="card w-100">
                        <img class="card-img-top img-fluid" src="/front/img/portatil.webp" alt="Portatil">
                        <div class="card-body">
                            <h5 class="card-title">Portátiles</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-2">
                <a href="link-a-categorias" class="text-decoration-none" style="color: black;">
                    <div class="card w-100">
                        <img class="card-img-top img-fluid" src="/front/img/movil.webp" alt="Moviles">
                        <div class="card-body">
                            <h5 class="card-title">Móviles</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-2">
                <a href="link-a-categorias" class="text-decoration-none" style="color: black;">
                    <div class="card w-100">
                        <img class="card-img-top img-fluid" src="/front/img/movil.webp" alt="Moviles">
                        <div class="card-body">
                            <h5 class="card-title">Móviles</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-2">
                <a href="link-a-categorias" class="text-decoration-none" style="color: black;">
                    <div class="card w-100">
                        <img class="card-img-top img-fluid" src="/front/img/movil.webp" alt="Moviles">
                        <div class="card-body">
                            <h5 class="card-title">Móviles</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="Marcas">
    <div class="section mx-auto" style="max-width: 70%;">
        <br>
        <center>
            <h2 class="text-center">Marcas</h2><br>
            <div class="row justify-content-center text-center">
                <div class="col-3 col-md-2 mb-4">
                    <img class="img-fluid" src="/front/img/hp.webp" alt="HP" style="max-width: 100px;">
                </div>
                <div class="col-3 col-md-2 mb-4 d-flex justify-content-center">
                    <img class="img-fluid" src="/front/img/samsung.webp" alt="Samsung"
                        style="max-width: 100px; margin-top: 50px;">
                </div>
                <div class="col-3 col-md-2 mb-4 d-flex justify-content-center">
                    <img class="img-fluid" src="/front/img/apple.webp" alt="Apple" style="max-width: 100px;">
                </div>
                <div class="col-3 col-md-2 mb-4">
                    <img class="img-fluid" src="/front/img/windows11.webp" alt="Windows 11"
                        style="max-width: 100px; margin-top: 50px;">
                </div>
                <div class="col-3 col-md-2 mb-4">
                    <img class="img-fluid" src="/front/img/intel.webp" alt="Intel" style="max-width: 100px;">
                </div>
                <div class="col-3 col-md-2 mb-4">
                    <img class="img-fluid" src="/front/img/google.webp" alt="Google" style="max-width: 100px;">
                </div>
                <div class="col-3 col-md-2 mb-4">
                    <img class="img-fluid" src="/front/img/corsair-logo.webp" alt="Corsair" style="max-width: 100px;">
                </div>
                <div class="col-3 col-md-2 mb-4">
                    <img class="img-fluid" src="/front/img/asus.webp" alt="Asus" style="max-width: 100px;">
                </div>
            </div>
        </center>
    </div>
</section>