<head>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<section>
    <!-- Cambiar nava pel que ja tenim-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inici</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Producte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacte</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <hr>

    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Inici</a></li>
            <li class="breadcrumb-item"><a href="#">Categoria</a></li>
            <li class="breadcrumb-item"><a href="#">SubCategoria</a></li>
        </ol>
    </nav>

    <!-- Producte -->
    <div class="container my-4">
        <div class="row">
            <!-- Imatge -->
            <div class="col-md-4">
                <img src="https://thumb.pccomponentes.com/w-530-530/articles/1066/10665103/1575-amd-ryzen-7-7800x3d-42-ghz-5-ghz.jpg"
                    class="img-fluid" alt="Imagtge Producte">
            </div>

            <!-- Detalls Producte -->
            <div class="col-md-4">
                <h2>Nom Producte</h2>
                <p>Valoració Producte</p>
                <p>Informació</p>
            </div>

            <!-- Carrito -->
            <div class="col-md-4">
                <h3>Preu: 499.99€</h3>
                <button class="btn btn-primary">Afegir al carret</button>
            </div>
        </div>

        <!-- Info Producte -->
        <div class="my-4">
            <h4>Informació/Descripció del producte</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </div>

        <!-- Productes més venuts -->
        <div class="my-4">
            <h4>Productes més venuts/similars</h4>
            <div class="row">

                <!-- Producte 1 -->
                <div class="col-md-2">
                    <div class="card">
                        <img src="https://thumb.pccomponentes.com/w-530-530/articles/17/179806/244-logitech-g502-hero-raton-gaming-16000dpi-caracteristicas.jpg"
                            class="card-img-top" alt="Product 1">
                        <div class="card-body">
                            <h5 class="card-title">Nom Producte</h5>
                            <p class="card-text">Preu: 199.99€</p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
                <!-- Producte 2 -->
                <div class="col-md-2">
                    <div class="card">
                        <img src="https://thumb.pccomponentes.com/w-150-150/articles/35/351290/1441-corsair-vengeance-lpx-ddr4-3200mhz-pc4-25600-32gb-2x16gb-cl16.jpg"
                            class="card-img-top" alt="Product 2">
                        <div class="card-body">
                            <h5 class="card-title">Nom Producte</h5>
                            <p class="card-text">Preu: 299.99€</p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
                <!-- Producte 3 -->
                <div class="col-md-2">
                    <div class="card">
                        <img src="https://thumb.pccomponentes.com/w-150-150/articles/1074/10740783/1872-msi-g24c4-e2-236-led-fullhd-180-hz-freesync-premium-curva-c8ce3664-afa7-4146-8917-e6ee95e29276.jpg"
                            class="card-img-top" alt="Product 3">
                        <div class="card-body">
                            <h5 class="card-title">Nom Producte</h5>
                            <p class="card-text">Preu: 399.99€</p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
                <!-- Producte 4 -->
                <div class="col-md-2">
                    <div class="card">
                        <img src="https://thumb.pccomponentes.com/w-150-150/articles/1073/10738412/1860-msi-geforce-rtx-4060-ventus-2x-black-oc-8gb-gddr6-dlss3.jpg"
                            class="card-img-top" alt="Product 4">
                        <div class="card-body">
                            <h5 class="card-title">Nom Producte</h5>
                            <p class="card-text">Preu: 499.99€</p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Valoracions -->
        <div class="my-4">
            <h4>Valoracions Generals</h4>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%;">5/5</div>
            </div>
        </div>

        <!-- Opinions/Comentaris -->
        <div class="my-4">
            <h4>Opinions i Comentaris</h4>
            <div class="list-group">
                <div class="list-group-item">Paco: Bon Producte</div>
                <div class="list-group-item">Manolo: BonProducte.</div>
            </div>
        </div>
    </div>
</section>