<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="node_modules/normalize.css"> -->
    <link rel="stylesheet" href="css/style.css">

<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>-->

<!--    <link-->
<!--            rel="stylesheet"-->
<!--            href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"-->
<!--    >-->

</head>
<body>
<div id="app">

    <div v-if="page === 'login'">
        <login-page :page="page" @update-page="page = $event"></login-page>
    </div>

    <div v-if="page === 'register'">
        <register-page :page="page" @update-page="page = $event"></register-page>
    </div>

<!--    <div v-if="page === 'productes'">-->
<!--        <productes-page @update-page="page = $event"></productes-page>-->
<!--    </div>-->
<!--    -->
<!--    <div v-if="page === 'home'">-->
<!--        <home-page @update-page="page = $event"></home-page>-->
<!--    </div>-->

    <div v-if="page !== 'login' && page !== 'register'">
        <nav-bar-component v-bind:products-cart="productsCart.data" @update-page="page = $event"></nav-bar-component>
        <div style="margin-top: 90px"></div>
        <div v-if="page === 'home'">
            <home-page @add-product-to-cart="addProductToCart"  @show-product="showProduct"></home-page>
        </div>

        <div v-if="page === 'producte'">
            <productes-page v-bind:product-selected="productSelected.data" @add-product-to-cart="addProductToCart"></productes-page>
        </div>

        <div v-if="page === 'cart'">
            <cart-page v-bind:products-cart="productsCart.data"></cart-page>
        </div>

        <fotter-component></fotter-component>

    </div>

</div>


<script type="module">
    import { createApp, ref, reactive } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    import { LoginPage } from "./components/LoginPage.js";
    import { RegisterPage } from "./components/RegisterPage.js";
    import { ProductesPage } from "./components/ProductesPage.js";
    import { HomePage } from "./components/HomePage.js";
    //import { AddPaymentMethodComponent } from "./components/AddPaymentMethodComponent.js";
    import { NavBarComponent} from "./components/NavBarComponent.js";
    import { TestComponent} from "./components/TestComponent.js";
    import { FotterComponent} from "./components/FotterComponent.js";
    import { CartPage} from "./components/CartPage.js";

    // Crear la aplicación y registrar el componente
    createApp({
        components: {
            LoginPage,
            RegisterPage,
            ProductesPage,
            HomePage,
            //AddPaymentMethodComponent,
            NavBarComponent,
            TestComponent,
            FotterComponent,
            CartPage
        },
        setup(){
            let page = ref("home");
            let productsCart = reactive({data:[]})
            let productSelected = reactive({data:{}})
            const addProductToCart = (product) => {
                // Buscar si el producto ya está en el carrito
                let found = false;
                productsCart.data.forEach((p) => {
                    if (product.id === p.id) {
                        // Si el producto ya está en el carrito, incrementamos la cantidad
                        p.num_product ? p.num_product++ : p.num_product = 1;
                        found = true;
                    }
                });

                // Si el producto no está en el carrito, lo añadimos con num_product = 1
                if (!found) {
                    product.num_product = 1;
                    productsCart.data.push(product);
                }

            };

            const showProduct = (product) => {
                console.log(product);
                productSelected.data = product; // Asigna el producto seleccionado a productSelected
                page.value = 'producte';
            }


            return {
                page,
                productsCart,
                addProductToCart,
                showProduct,
                productSelected
            }
        }
    })
        .mount('#app')
</script>
</body>
</html>