<head>
    <link rel="stylesheet" href="../css/style.css">
</head>
<div class="section" style="border: 2px solid">
    <div class="row">
        <div class="col-lg-2 col-12" >
            <div class="card p-0 border-none">
                <div class="card-body p-0">
                    <div class="w-100 container-img p-1" style="height: 200px;">
                        <img class="img-fluid" src="https://m.media-amazon.com/images/I/81b75EQJrgL._AC_UF894,1000_QL80_.jpg"/>
                    </div>

                    <div class="p-2">
                        <p class="m-0 mb-2"> AMD Ryzen 5 3600 - Procesador con disipador de calor Wraith Stealth</p>
                        <p class="fs-4 fw-bold mb-2 m-0 text-primary">470€</p>
                        <p class="fs-7 m-0 fw-semibold ">4,8/5 <span><i class="bi bi-star-fill text-warning"></i></span> 166 Opiniones</p>
                        <p class="badge badge-success">Esta en stock</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-12">
            <div class="card p-0 border-none">
                <div class="card-body p-0">
                    <div class="w-100 container-img p-1" style="height: 200px;">
                        <img class="img-fluid" src="https://m.media-amazon.com/images/I/81b75EQJrgL._AC_UF894,1000_QL80_.jpg"/>
                    </div>

                    <div class="p-2">
                        <p class="m-0 mb-2"> AMD Ryzen 5 3600 - Procesador con disipador de calor Wraith Stealth</p>
                        <p class="fs-4 fw-bold mb-2 m-0 text-primary">470€</p>
                        <p class="fs-7 m-0 fw-semibold ">4,8/5 <span><i class="bi bi-star-fill text-warning"></i></span> 166 Opiniones</p>
                        <p class="badge badge-danger">No esta en stock</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-12" style="border: 1px solid;">
            3
        </div>
        <div class="col-lg-2 col-12" style="border: 1px solid;">
            4
        </div>
        <div class="col-lg-2 col-12" style="border: 1px solid;">
            5
        </div>
        <div class="col-lg-2 col-12" style="border: 1px solid;">
            5
        </div>
        <div class="col-lg-2 col-12" style="border: 1px solid;">
            5
        </div>
        <div class="col-lg-2 col-12" style="border: 1px solid;">
            5
        </div>
    </div>
    <button class="btn btn-sm">
        a
    </button>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
</div>
